*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1;
  color: #222222;
  background-color: #F9F9F9;
}

section {
  padding: 3rem 1rem;
}

section header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

section h1, section h2, section h3 {
  margin-bottom: 1.25rem;
}

p, ol, ul, li {
  margin-bottom: 1rem;
}

ul, ol {
  list-style-position: inside;
}

.site-header {
  padding: 1rem;
  background-color: rgb(220, 221, 225);
}

ul.shader-list li {
  padding: 1.5rem 0;
  list-style: none;
  border-bottom: 2px solid rgb(220, 221, 225, 0.75);
}

ul.shader-list li iframe {
  width: 600px;
  aspect-ratio: 16/9;
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
}

body#shader-page {
  height: 100vh;
  overflow: hidden;
}