*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1;
  color: #333333;
  background-color: #F9F9F9;
}

section {
  padding: 3rem 1rem;
}

section header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

section h1, section h2, section h3 {
  margin-bottom: 1.25rem;
}

p, ol, ul, li {
  margin-bottom: 1rem;
}

ul, ol {
  list-style-position: inside;
}

.site-header {
  padding: 1rem;
  background-color: #dcdde1;
}